<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Salon_Krasoty_Goryako_Arina_34IS.Properties.Settings.Salon_Krasoty_DBConnectionString"
            connectionString="Data Source=315NEW-17\SQLEXPRESS;Initial Catalog=Salon_Krasoty_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>